[Unit]
Description=Gunicorn instance to serve tour App
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/app
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
